<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/base.css" type="text/css" rel="stylesheet" th:href="@{/css/base.css}">
        <link href="/css/main.css" type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
        <link href="/css/sw.css" type="text/css" rel="stylesheet" th:href="@{/css/sw.css}">
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="/js/jquery-3.7.0.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <title>VisangUni</title>
    </head>
    <body>
        <!--헤더-->
        <div th:replace="~{fragments/header::header}"></div>

        <!--바디-->
        <div layout:fragment="content"></div>

        <!--푸터-->
        <div th:replace="~{fragments/footer::footer}"></div>
    </body>
</html>