*{margin: 0;
  padding: o;
  box-sizing: border-box;

}
.inner{
  width: 57%;
  margin-top: 6%;
  margin-left: 27%;
  height: 1000px;
}
header{
  height: 200px;

}
.content{
  display: flex;

}
.first{
  position: relative;
  top:20px;
  width: 49%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  display: inline-block;
  position:relative;
}
#first_app_available{
  background-color: #2ECC71;
  width: 100px;
  color: white;
  margin-top: 20px;
  margin-left: 11%;
  text-align: center;
  display: inline;
}
#first_title{
  margin-left: 3%;
  width: 200px;
  display: inline;
}
#first_app_period{
  margin-left: 11%;
}
#first_oper_period{
  margin-left: 11%;
}

.second{
  position: relative;
  top:0px;
  width: 49%;
  height: 64px;
  margin-top: 0px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
  line-height: 64px;
}
.second_appbtn{
  background: #2ECC71;
  margin:auto;
  border: 0;
  border-radius: 10px;
  height: 24px;
  width: 100px;
  color: white;


}
/* 여기서부터 검색상자 CSS */
.search_box{
  display: flex;
  justify-content: center;
}
.search_box_background{
  width: 70%;
  height: 40px;
  margin-top:5%;
  background-color: rgb(226, 225, 225);
  display: flex;
  justify-content: center;
}
#search_box_input{

  width: 60%;
  height: 30px;
  margin-top: 5px;
  margin-left: 10%;
}
#search_box_button{
  background: #3498DB;
  margin: 8px 0px 0px 8%;
  border: 0;
  border-radius: 10px;
  height: 24px;
  width: 100px;
}
/* 여기까지 검색상자 CSS */
hr{
  width: 70%;
  margin-left: 15%; margin-top: 1.5%;
}
.content_wrap{
  margin-left: 10%;
  width: 80%;
}

a{
  text-decoration: none;
  color: white;
}
/* 신청가능 박스랑 신청 버튼 색깔 #2ECC71 */
/* 검색버튼 색깔 #3498DB */