<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisangUni</title>
    <link href="../css/base.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="header">
    <div class="logo">
        <img src="images/logo.png" alt="학교로고">
    </div>
    <div class="header_text">
        <div>
            <a href="#">로그인</a>
        </div>
        <div>
            <a href="#">나의 정보</a>
        </div>
        <div>
            <a href="#">강의실</a>
        </div>
    </div>
</div>
<div class="side_wrap">
    <div class="side_header">
        <a>강의실</a>
    </div>
    <div class="side_middle">
        <a>Home</a>
        <ul><span>강의 정보</span>
            <li>
                <a href="#">수업계획서</a>
            </li>

            <li>
                <a href="/visang_university/lecture/regist">강의등록</a>
            </li>
        </ul>

        <ul><span>수업 활동</span>
            <li>
                <a href="#">강의</a>
            </li>

            <li>
                <a href="#">과제</a>
            </li>
        </ul>

        <ul><span>커뮤니티</span>
            <li>
                <a href="#">공지사항</a>
            </li>

            <li>
                <a href="#">Q&A</a>
            </li>
        </ul>
    </div>

    <div class="side_footer_f">
        <a href="#">수강신청</a>
    </div>

    <div class="side_footer_l">
        <a href="#">나의정보</a>
    </div>
</div>
<div class="footer">
    <div class="footer_wrap" style="text-align: center;">
        <div class="menu"><a href="#" onclick="javascript:window.open('/Account/UsingInfo', 'usinginfo', 'width=800, height=500, scrollbars=no'); Prevent();" title="이용약관">이용약관</a>&nbsp;|&nbsp;<a href="#" onclick="javascript:window.open('https://www.deu.ac.kr/www/content/61'); Prevent();" title="개인정보처리방침">개인정보처리방침</a></div>
        <div class="address">47340 부산광역시 부산진구 엄광로 176 (교육혁신본부) / TEL. 051-111-2222</div>
        <div class="copyright">COPYRIGHT 2017 BI-SANG UNIVERSITY. ALL RIGHT RESERVED.</div>
    </div>
</div>
</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>VisangUni</title>-->
<!--    <link href="css/base.css" type="text/css" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--<div class="header">-->
<!--    <div class="logo">-->
<!--        <img src="images/logo.png" alt="학교로고">-->
<!--    </div>-->
<!--    <div class="header_text">-->
<!--        <div>-->
<!--            <a href="#">로그인</a>-->
<!--        </div>-->
<!--        <div>-->
<!--            <a href="#">나의 정보</a>-->
<!--        </div>-->
<!--        <div>-->
<!--            <a href="#">강의실</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="side_wrap">-->
<!--    <div class="side_header">-->
<!--        <a>강의실</a>-->
<!--    </div>-->
<!--    <div class="side_middle">-->
<!--        <a>Home</a>-->
<!--        <ul><span>강의 정보</span>-->
<!--            <li>-->
<!--                <a href="#">수업계획서</a>-->
<!--            </li>-->

<!--            <li>-->
<!--                <a href="#">강의등록</a>-->
<!--            </li>-->
<!--        </ul>-->

<!--        <ul><span>수업 활동</span>-->
<!--            <li>-->
<!--                <a href="#">강의</a>-->
<!--            </li>-->

<!--            <li>-->
<!--                <a href="#">과제</a>-->
<!--            </li>-->
<!--        </ul>-->

<!--        <ul><span>커뮤니티</span>-->
<!--            <li>-->
<!--                <a href="#">공지사항</a>-->
<!--            </li>-->

<!--            <li>-->
<!--                <a href="#">Q&A</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->

<!--    <div class="side_footer_f">-->
<!--        <a href="#">수강신청</a>-->
<!--    </div>-->

<!--    <div class="side_footer_l">-->
<!--        <a href="#">나의정보</a>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
