
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisangUni</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css" th:href="@{/css/background.css}">
    <link rel="stylesheet" type="text/css" href="/css/lecture_detail_register.css" th:href="@{/css/lecture_detail_register.css}">
</head>
<body>
<!-- 헤더부분 -->
<div class="header">
    <div class="logo">
        <a th:href="@{/visang_university}"><img src="/images/logo.png" alt="학교로고"></a>
    </div>
    <div class="header_text" style="right: -150px;">
        <div style="width: 150px;">
                <span style="font-size: 23px;
                color:#787878; font-weight: 600; margin-left:-50px;">[[${userdataName}]]</span>
            <a th:href="@{/visang_university/logout}"><b style="font-size: 15px;" >로그아웃</b></a>
        </div>
        <div>
            <a th:href="@{/visang_university/mypage}">나의 정보</a>
        </div>
        <div>
            <a href="/visang_university/classHome">강의실</a>
        </div>
    </div>
</div>
<!-- 사이드 메뉴 -->
<div class="side_wrap">
    <div class="side_header">
        <a>강의실</a>
    </div>
    <div class="side_middle">
        <a>Home</a>
        <ul><span>강의 정보</span>
            <li>
                <a href="#">수업계획서</a>
            </li>

            <li>
                <a href="/visang_university/lecture/regist">강의등록</a>
            </li>
        </ul>

        <ul><span>수업 활동</span>
            <li>
                <a th:href="@{/lecture_detail}">강의</a>
            </li>

            <li>
                <a th:href="@{/homework/list}">과제</a>
            </li>
        </ul>

        <ul><span>커뮤니티</span>
            <li>
                <a href="#">공지사항</a>
            </li>

            <li>
                <a href="#">Q&A</a>
            </li>
        </ul>
    </div>

    <div class="side_footer_f">
        <a href="/visang_university/enroll">수강신청</a>
    </div>

    <div class="side_footer_l">
        <a th:href="@{/visang_university/mypage}">나의 정보</a>
    </div>
</div>
<!-- 강좌 바로가기 부분 -->
<div class="lec_find">
    <span>강좌바로가기</span>
    <div class="dropdown">
        <select>
            <option value="1">2023년도 2학기</option>
            <option value="2">2023년도 1학기</option>
            <option value="3">2022년 2학기</option>
            <option value="4">2022년도 1학기</option>
        </select>

        <select>
            <option value="10">강좌명</option>
            <option value="20">강좌1</option>
            <option value="30">강좌2</option>
            <option value="40">강좌3</option>
        </select>
    </div>
</div>
<!-- 상세 강의 등록 페이지 -->

<div class="con_header"><h3>상세 강의 등록</h3></div>
<form th:action="@{/lectureDetail/create}" method="post" th:object="${lectureDetailDto}">

    <!-- 강의 테이블에서 끌어와야 하는 것임 -->
    <div>
        교과목명
    </div>

    <div>
        부제목<br>(상세 강의 제목) <input type="text" th:field="*{lectureSelSecTitle}">
    </div>

    <div>
        주차 <input type="text" th:field="*{lectureSelWeek}">
    </div>

    <div>
        차시<input type="text" th:field="*{lectureSelSession}">
    </div>

    <div>
        수업 시작일 <input type="date" th:field="*{lectureStart}">
    </div>

    <div>
        수업 종료일<input type="date" th:field="*{lectureEnd}">
    </div>

    <div class="con_right">
        <div>
            <!-- 외래키로 잡을 거라 이름 설정 어떻게 해야하는지 확인 -->
            등록자 [[${userdataName}]]
        </div>

        <div>
            수업 형태<label><input type="radio" value="대면" th:field="*{lectureSelType}"> 대면</label>
            <label><input type="radio" value="온라인" th:field="*{lectureSelType}"> 온라인</label>
        </div>

        <div>
            강의 URL 주소<input type="text" th:field="*{lectureUrl}">
        </div>
    </div>
    <button type="submit" class="btn">상세 강의 등록</button>
</form>



<div class="footer">
    <div class="footer_wrap" style="text-align: center;">
        <div class="menu"><a href="#" onclick="javascript:window.open('/Account/UsingInfo', 'usinginfo', 'width=800, height=500, scrollbars=no'); Prevent();" title="이용약관">이용약관</a>&nbsp;|&nbsp;<a href="#" onclick="javascript:window.open('https://www.deu.ac.kr/www/content/61'); Prevent();" title="개인정보처리방침">개인정보처리방침</a></div>
        <div class="address">47340 부산광역시 부산진구 엄광로 176 (교육혁신본부) / TEL. 051-111-2222</div>
        <div class="copyright">COPYRIGHT 2017 BI-SANG UNIVERSITY. ALL RIGHT RESERVED.</div>
    </div>
</div>
</body>
</html>