
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisangUni</title>
    <style>
        .popup div:first-child {
            font-weight: 700;
        }
    </style>
</head>
<body>
<div class="popup">
    <div>
        <b>[출결 기준 안내]</b>
        출석기간에 학습완료를 했을 경우에만 출석이 인정됩니다.
    </div>
    <div>
        <ul style="color: #f00;">
            <li> 출석: 출석기간에 학습완료</li>
            <li> 결석: 미수강, 미완료, 출석기간 이후에 학습완료</li>
        </ul>
    </div>
    <div>
        출석기간 이후에도 강의보기를 할 수 있으나 출결상태값은 변경되지 않습니다.
        학습완료를 매 차시 강의 전체 학습페이지+학습기간+중간체크 만족시 인정됩니다.
    </div>
</div>
<script>
    function moveClose() {
        opener.location.href = "lecture_detail.html"
        self.close();
    }
    function moveClose() {
        opener.location.href = "lecture_detail.html"
        self.close();
    }
</script>
</body>
</html>